.container {
    border: 3px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.box {
    width: 50rem;
    height: 50rem;
    background: yellow;
    margin: 10px
}

@media screen and (min-width: 600px) {
    .container {
        border: 3px solid lightgrey;
        display: flex;
        flex-direction: row;
    }
}